@model WebApplication1.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Adjust as per your project structure
}

<h2>Sign Up</h2>

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    

    <div class="form-group">
        @Html.LabelFor(model => model.UserEmail)
        @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserEmail)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserPassw)
        @Html.PasswordFor(model => model.UserPassw, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary"> Login </button>
}
